<% @page_title = @collection.name %>
<% turbo_exempts_page_from_cache %>

<%= turbo_stream_from @collection %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= link_to_webhooks(@collection) if Current.user.admin? %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis"><%= @collection.name %></span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= link_to_edit_collection @collection %>
  </div>
<% end %>

<%= render "filters/settings", filter_url: collection_path(@collection), user_filtering: @user_filtering, no_filtering_url: collection_path(@collection) do |form| %>
  <%= hidden_field_tag "collection_ids[]", @collection.id %>
<% end %>

<%= turbo_frame_tag :cards_container do %>
  <% if @filter.used?(ignore_collections: true) %>
    <%= render "collections/show/filtered_cards", page: @page %>
  <% else %>
    <%= render "collections/show/columns", page: @page, collection: @collection %>
  <% end %>
<% end %>
