<% cache bubble do %>
  <div class="bubble"
    style="view-transition-name: bubble-<%= bubble.id -%>; --bubble-color: <%= bubble.color %>; <%= bubble_rotation(bubble) %> <%= bubble_size(bubble) %>"
    data-controller="animation upload-preview"
    data-animation-play-class="bubble--wobble" data-animation-play-on-load-value="true" data-action="mouseover->animation#play">

    <h1 class="bubble__title">
      <%= turbo_frame_tag bubble, :edit do %>
        <%= link_to bubble.title, edit_bucket_bubble_path(bubble.bucket, bubble), class: "txt-undecorated" %>
      <% end %>
    </h1>

    <div class="bubble__shape"></div>

    <%= link_to bucket_bubble_path(bubble.bucket, bubble), class: "bubble__link" do %>
      <span class="for-screen-reader"><%= bubble.title %></span>
    <% end %>

    <%= render "bubbles/assignments", bubble: bubble %>
    <%= render "bubbles/boosts", bubble: bubble %>
    <%= render "bubbles/color", bubble: bubble %>
    <%= turbo_frame_tag dom_id(bubble, :date_picker), src: bucket_bubble_date_picker_path(bubble.bucket, bubble) %>
    <%= render "bubbles/image", bubble: bubble %>
    <%= render "bubbles/tags", bubble: bubble %>
  </div>
<% end %>
