<% if day_timeline.has_weekly_summary? %>
  <h2 class="events__day-header">
    <span class="events__day-time min-width max-width">
      <span class="overflow-ellipsis">
        <span>Weekly Highlights for</span>
        <%= local_datetime_tag day_timeline.week_starts_at - 1.week, style: :shortdate %>
        –
        <%= local_datetime_tag day_timeline.week_ends_at - 1.week - 1.day, style: :shortdate %>
      </span>
    </span>
  </h2>

  <div class="events__activity-summary txt-small">
    <div>
      <%= day_timeline.weekly_summary.to_html %>

      <% if Current.user.staff? %>
        <%= link_to admin_prompt_sandbox_path(day: day_timeline.day), class: "btn txt-xx-small events__activity-prompt-edit" do %>
          <%= icon_tag "bolt" %>
          <span class="for-screen-reader">Prompt sandbox</span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
